.input:focus {
}

.input {
}

.inputWrapper {
}

.superInput {
    outline: none;
    width: 372px;
    height: 40px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin: 0 0 24px 0;
}

.errorInput {
}

.errorInput:focus {
}

.error {
}
