.friendMessage {

}

.friendImageAndText {
    width: 48px;
    height: 48px
}

.friendImageAndText img {
    width: 48px;
    height: 48px
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
